a{text-decoration:none;color: "#0077aa"}
a:hover{text-decoration:underline}
body{font: 16px/1.4 verdana;color:#222;max-width:700px;margin: 40px auto;padding:0;background-color: "#FEFFFE"}
h1,h2,h3{line-height:1.2}
code{font-size: 14px;line-height: 1.2}
